* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: blueviolet;
}

body {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
section {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, 150px);
  gap: 1rem;
}

div {
  background-color: blueviolet;
  color: white;
  padding: 8px;
  border-radius: 8px;
}
.dark {
  background-color: #121212;
  color: #b86cff;
}
button {
  cursor: pointer;
  border-radius: 50%;
  padding: 4px;
  border: none;
}
.darkmode {
  background-color: #6a1bb9;
  box-shadow: 0 4px 12px rgba(138, 43, 226, 0.25);
}
