* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: blueviolet;
}

body {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
section {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, 150px);
  gap: 1rem;
}

div {
  background-color: blueviolet;
  color: white;
  padding: 8px;
  border-radius: 4px;
}
